<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Assignment2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>097A5FBF1F72D74E00423115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>097A5FD31F72D74E00423115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>097A5FDE1F72D74F00423115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
